.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}